includes:
    - src/unused-public-params.neon
    - src/unused-public-services.neon
    - src/unused-public-collectors.neon
    # src/unused-public-rules.neon intentionally left out as we are just recording collector data

parameters:
    customRulesetUsed: true
    errorFormat: crossRepoUnusedPublic

    fileExtensions:
        - php
        - phtml

    excludePaths:
        # ignore common unrelated folders to speedup
        - */.github/*
        - */node_modules/*
        - */vendor/*
        - */tests/*

services:
    errorFormatter.crossRepoUnusedPublic:
        class: staabm\CrossRepoUnusedPublic\Recorder\ErrorFormatter
        arguments:
            relativePathHelper: @simpleRelativePathHelper

rules:
    - staabm\CrossRepoUnusedPublic\Recorder\CollectedDataRule
