includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - src/unused-public-params.neon
    - src/unused-public-services.neon
    - src/unused-public-collectors.neon
    - src/unused-public-rules.neon

parameters:
    customRulesetUsed: true
