includes:
    - src/unused-public-params.neon
    - src/unused-public-services.neon
    - src/unused-public-collectors.neon

parameters:
    customRulesetUsed: true
    errorFormat: crossRepoUnusedPublic

services:
    errorFormatter.crossRepoUnusedPublic:
        class: staabm\CrossRepoUnusedPublic\Recorder\ErrorFormatter
        arguments:
            relativePathHelper: @simpleRelativePathHelper

rules:
    - staabm\CrossRepoUnusedPublic\Recorder\CollectedDataRule
