includes:
    - unused-public-params.neon
    - unused-public-services.neon
    - unused-public-collectors.neon
    - unused-public-rules.neon

parameters:
    customRulesetUsed: true

    excludePaths:
        # ignore common unrelated folders to speedup
        - */node_modules/*
        - */vendor/*
