includes:
    - unused-public-params.neon
    - unused-public-services.neon
    - unused-public-collectors.neon
    # unused-public-rules.neon intentionally left out as we are just recording collector data

parameters:
    customRulesetUsed: true
    errorFormat: crossRepoUnusedPublic
    resultCachePath: %env.PHPSTAN_RESULT_CACHE_PATH%

    fileExtensions:
        - php
        - phtml

    excludePaths:
        # ignore common unrelated folders to speedup
        analyseAndScan:
            - */node_modules/*
        analyse:
            - */vendor/*

services:
    errorFormatter.crossRepoUnusedPublic:
        class: staabm\CrossRepoUnusedPublic\Recorder\ErrorFormatter

rules:
    - staabm\CrossRepoUnusedPublic\Recorder\CollectedDataRule
