services:
    - TomasVotruba\UnusedPublic\PublicClassMethodMatcher
    - TomasVotruba\UnusedPublic\CallReferece\ParentCallReferenceResolver
    - TomasVotruba\UnusedPublic\CallReferece\CallReferencesFlatter
    - TomasVotruba\UnusedPublic\MethodTypeDetector
    - TomasVotruba\UnusedPublic\ClassTypeDetector
    - TomasVotruba\UnusedPublic\ApiDocStmtAnalyzer
    - TomasVotruba\UnusedPublic\ClassMethodCallReferenceResolver
    - TomasVotruba\UnusedPublic\CollectorMapper\MethodCallCollectorMapper
    - TomasVotruba\UnusedPublic\NodeCollectorExtractor
    # templates
    - TomasVotruba\UnusedPublic\Templates\TemplateMethodCallsProvider
    - TomasVotruba\UnusedPublic\Templates\TemplateRegexFinder
    - TomasVotruba\UnusedPublic\Templates\UsedMethodAnalyzer

    -
        factory: TomasVotruba\UnusedPublic\Configuration
        arguments:
            - %unused_public%
