rules:
    - TomasVotruba\UnusedPublic\Rules\UnusedPublicClassMethodRule
    - TomasVotruba\UnusedPublic\Rules\UnusedPublicClassConstRule
    - TomasVotruba\UnusedPublic\Rules\UnusedPublicPropertyRule
    - TomasVotruba\UnusedPublic\Rules\LocalOnlyPublicClassMethodRule
    - TomasVotruba\UnusedPublic\Rules\RelativeUnusedPublicClassMethodRule
